/*font*/
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Pacifico&display=swap');

/*couleur de fond*/
body{
    background-color: #ffdd98;
}

/*menu*/
nav{
    background-color: rgba(255, 255, 255, 0.42);
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
}

/*formulaire*/
form{
    display: inline-block;
    margin-left: 30%;
    margin-top: 0px;
}

.form-style-1 {
    padding: 20px 12px 10px 20px;
}

.form-style-1 p {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 input[type=text]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.form-style-1 input[type=text]:focus{
    -moz-box-shadow: 0 0 8px #96dfcb;
    -webkit-box-shadow: 0 0 8px #96dfcb;
    box-shadow: 0 0 8px #96dfcb;
    border: 1px solid #96dfcb;
}

.form-style-1 .field-divided{
    width: 49%;
}


.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #73ad9a;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    cursor:pointer;
}

.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #73ad9a;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    cursor:pointer;
}

section{
    background-color:  #ff3e00;
    position: absolute;
    top:0%;
    left: 0px;
    width: 100%;
    box-shadow: 0px 2px 0px white;
}

h4{
    display: inline-block;
    margin-left: 50px;
    color: white;
    font: 23px 'Pacifico', cursive;
}

h4:hover{
    color: yellow;
}

h14{
    display:inline-block;
    margin-left: 50px;
    font: 25px 'Pacifico', cursive;
    color: white;
    margin-left: 750px;
    margin-right: 50px;
}

h14:hover{
    color: yellow;
}

/*image*/
img{
    position: absolute;
    top: 20%;
    z-index: 0;
}

.phoenix1 {
    right:8%;
}

.phoenix2 {
  left:8%;
}


aside{
    position: absolute;
    top: 30%;
    left: 5%;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.42);
    box-shadow: 0px 0px 15px grey;
}

li{
    list-style: none;
    /*display: inline-block;*/
    background-color: rgba(255, 255, 255, 0.42);
    box-shadow: 0px 0px 15px red;
    border-radius: 5px;
    margin-top: 18%;
    margin-left:37%;
    width:400px;
}

h16{
    display: block;
    font-size: 22px;
    /*margin-left: 16px;*/
    text-align: center;
    margin-top: 7px;
    color: red;
    font-family: 'Bree Serif', serif;
}

h17{
    display: block;
    font-size:15px;
    margin-left:20px;
    color: red;
    /*visibility: hidden;*/
}

h8{
    display: block;
    font-size:15px;
    margin-left:20px;
    margin-top: 2px;
    color: red;
    /*visibility: hidden;*/
}

h15{
    margin-left:80%;
    font-size: 13px;
    color: red;
    font-family: 'Bree Serif', serif;
}

a{
    color: #6b6fb8;
}

a:visited{
    color: #6b6fb8;
}

footer{
    position: absolute;
    color:#966bb8;
    top:28%;
    left: 70%;
    width: 450px;
    height: 150px;

}

