/*font*/
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Pacifico&display=swap');

/*couleur de fond*/
html{
    background-color: #ffdd98;
}

/*menu*/
nav{
    background-color: rgba(255, 255, 255, 0.42);
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
}

/*formulaire*/
form{
    background-color: rgba(255, 255, 255, 0.42);
    box-shadow: 0px 0px 15px red;
    position: absolute;
    top: 20%;
    left: 42.5%;
}

.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 10px 10px 10px 10px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 div {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 input[type=text],.form-style-1 input[type=password],.form-style-1 input[type=date]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.form-style-1 input[type=text]:focus,.form-style-1 input[type=password]:focus, .form-style-1 input[type=date]:focus{
    -moz-box-shadow: 0 0 8px #ffd100;
    -webkit-box-shadow: 0 0 8px #ffd100;
    box-shadow: 0 0 8px #ffd100;
    border: 1px solid orange;
}

.form-style-1 .field-divided{
    width: 77%;
}

.form-style-1 .form-control{
    width: 77%;
}

.form-group {
  width: 100%;
}

.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}

.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #ff6433;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    cursor:pointer;
}

.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #73ad9a;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    cursor:pointer;
}

/*image*/
img{
    position: absolute;
    top: 20%;
    z-index: 0;
}

.phoenix1 {
    right:8%;
}

.phoenix2 {
  left:8%;
}

h1{
    font-family: 'Pacifico', cursive;
    color: #ff3e00;
    position: absolute;
    display: block;
    left: 29%;
    /*right: 33%;*/
    top: 7%;
    max-width: 200em;
    z-index: 10;
    font-size: 35px;
    text-align: center;
}

/*footer*/
footer{
    background-color: white;
    position: absolute;
    bottom: 0%;
    color: #966bb8;

}

